<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!--<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>-->
        <property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
        <property name="hibernate.connection.url">jdbc:sqlserver://mssql3.gear.host;databaseName=imdb;</property>
        <property name="hibernate.connection.username">imdb</property>
        <property name="hibernate.connection.password">Imrul@123</property>
        <property name="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</property>
        <property name="hibernate.connection.pool_size">1</property>
        <property name="hibernate.cache.provider_class">org.hibernate.cache.CacheException</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">create</property>

        <mapping class="dr.hasan.clientRegistration.entity.Client"/>
        <mapping class="dr.hasan.clientLogin.entity.UserLogin"/>
    </session-factory>
</hibernate-configuration>