<html>
<head>
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript">
        var myapp = angular.module("myapp", []);
        myapp.controller('myAppController', function ($scope) {
            $scope.showTextInput = function (element) {

            }
        })
    </script>
</head>
<body ng-app="myapp" ng-controller="myAppController">
    <h1>Angular Test App</h1>
    <div>
        <p ng-model="para">Hello! whats up</p>
        <input ng-show="myVar" type="" ng-bind="para">
    </div>
    <div>
        <input type="text" ng-model="myID" name="myID"/>
    </div>
    <div>
        <p ng-bind="myID"></p>
    </div>
</body>
</html>

<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            $(".select1").on("change", function () {
                var flag = "valid";
                var selectedValue = $(this).val();
                $(".select1").not(this).each(function () {
                    if ($(this).val() == selectedValue) {
                        flag = "invalid";
                        return false;
                    }
                });
                alert(flag)
            })

        })
    </script>
</head>
<body>
<div id="ruleHolder">
    <div class="rule">
        <div>
            <select class="select1">
                <option value="100">Accountant</option>
                <option value="99">Manager</option>
                <option value="98">Vice Precedent</option>
                <option value="97">Deputy Manager</option>
                <option value="96">Managing Director</option>
            </select>
        </div>
    </div>
    <div class="rule">
        <div>
            <select class="select1">
                <option value="100">Accountant</option>
                <option value="99">Manager</option>
                <option value="98">Vice Precedent</option>
                <option value="97">Deputy Manager</option>
                <option value="96">Managing Director</option>
            </select>
        </div>
    </div>
    <div class="rule">
        <div>
            <select class="select1">
                <option value="100">Accountant</option>
                <option value="99">Manager</option>
                <option value="98">Vice Precedent</option>
                <option value="97">Deputy Manager</option>
                <option value="96">Managing Director</option>
            </select>
        </div>
    </div>
</div>
<div>
    <input id="submitBtn" type="button" value="submit">
</div>

</body>
</html>